# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="singlestore://username:password@host:port/database?ssl={}"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
SINGLESTORE_PASS="your_password_here"
SINGLESTORE_USER="your_username_here"
SINGLESTORE_HOST="your_host_here"
SINGLESTORE_PORT="3333"
SINGLESTORE_DB_NAME="your_database_name_here"
